@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}
.signup input {
  height: 40px;
  width: 330px;
  padding-left: 5px;
  display: block;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}
button.register {
  width: 328px;
  height: 40px;
  color: #000;
  background: skyblue;
}
img.mysignupLogo {
  margin-left: 132px;
  height: 61px;
  width: 60px;
}
h2.signup-title {
  text-align: center;
}
.main-login-page .login-title {
  margin-left: 136px;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
