@import './base.css';

#app {
  margin: 0 auto;
  font-weight: normal;
}
img.mysignupLogo {
  margin-left: 889px;
  height: 61px;
  width: 60px;
}
.main-footer-page {
  text-align: center;
}
h2.add-resto-data {
  margin-left: 813px;
}

.add-resto h2.login-title {
  color: green;
  margin-left: 80px;
}
.signup input {
  height: 40px;
  width: 330px;
  padding-left: 5px;
  display: block;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.restro-header-page a{
margin: 10px;
color: #fff;
}
h2.add-resto-heading {
  text-align: center;
  color: darkblue;
  font-size: 31px;
  font-weight: 600;
}
p.announcement-bar-timtle {
  font-size: 15px;
  color: #f50a0a;
  margin-top: -18px;
}

.restro-header-page {
  background-color: #000;
  text-align: center;
  overflow: hidden;
  height: 60px;
  padding: 0px;
  font-size: 19px;
  padding: 20px;
  bottom: 0px;
}

h2.add-resto-update {
  text-align: center;
  font-size: 31px;
  color: green;
  font-weight: 600;
}
a.login-btn {
  margin-left: 907px;
}
button.register {
  width: 328px;
  height: 40px;
  color: #000;
  background: skyblue;
}
.main-resrtro-header a.active {
  color: blue;
}
p.text-center {
  text-align: center;
  margin-left: -51px;
}
p.text-center ul li {
  color: red !important;
}
img.banner-image {
  width: 100%;
  height: 520px;
}
h2.main-data-logout {
  text-align: center;
}
h2.main-menu-title {
  text-align: center;
  font-size: 30px;
  color: brown;
  font-weight: 900;
}

h2.main-about-title {
  text-align: center;
}
h2.signup-title {
  text-align: center;
}
.main-login-page .login-title {
  margin-left: 124px;
}
a.register-login-btn {
  margin-left: 909px;
}
h2.login-title {
  text-align: center;
  margin-right: 134px;
}
a.restro-sign-up {
  margin-left: 901px;
}
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}
button.register {
  margin-left: 760px;
}

h2.main-data-logout {
  font-size: 35px;
  font-weight: 600;
  color: brown;
}
p.main-about-desc {
  width: 800px;
  justify-content: center;
  margin-left: 551px;
}
a.register-login {
  margin-left: 907px;
}
h2.footer-title {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}

ul.inner-footer-menu {
  display: inline-block;
padding-left: 100px;
padding-right: 100px;
margin: 100px;
}
.main-footer-page {
  margin-top: 74px;
  background-color: #000;
}
ul.inner-footer-menu li {
  color: #fff;
}

h2.main-about-title {
  text-align: center;
  color: cornflowerblue;
  font-size: 35px;
  font-weight: 700;
}
.main-login-page {
  top: 35px;
}

h2.login-title {
  font-weight: 700;
  font-size: 35px;
  color: cornflowerblue;
}
@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
